<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About</h1>
        <p class="lead">I listen to music on Spotify for hours every day and I have made this companion app for myself.</p>
        <p>Spotify is great but I find it's interface overloaded and changing too often. I wanted easy access to my <a href="/history">recently listened tracks</a>, <a href="/top">top tracks</a>, <a href="/playlists">my playlists</a> and <a href="/albums">albums</a>.</p>
        <p>I also like to keep myself in a musical mood so I have made <a href="/mood">a simple tool for recommending songs</a> based on my recently listened five tracks and audio attributes of last 24 tracks. Now you don't have to wait for Discovery Weekly on Monday.</p>
        <p>You can also see basic audio attributes (tempo, loudness, energy, accousticness, instrumentalness) of tracks in a playlist, album or history.</p>
        <p>This is work in progress, it may occassionaly fail or run into errors. Please be gentle. I am planning to add good search and other features</p>
        <p>
        <a href="https://github.com/chew-z/go-spotify">
            <img src="/static/GitHub-Mark-64px.png" class="rounded-circle" style="max-height: 1.5rem;">
        </a>
        </p>
    </div>
</div>
<!--Share button-->
{{ template "sharing.html" }}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
