<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/albums">Albums</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .Album.Name }}</li>
  </ol>
</nav>

<div class="container mw-50">
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">{{ .Album.Name }}</h4>
        </div>
        <div class="embed-responsive embed-responsive-1by1">
                <a href="{{ .Album.URL }}?utm_campaign=music.suka.yoga">
                    <img src="{{ .Album.Image}}" alt="{{ .Album.Name }}" class="card-img-top embed-responsive-item img-thumbnail">
                </a>
        </div>
        <a href="/playlistchart?al={{ .Album.ID }}" class="btn btn-outline-secondary btn-sm active" role="button" aria-pressed="true">Tracks audio attributes</a>
    </div>
</div>
<div class="container">
    <div class="card-columns">
        {{range .Tracks }}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .URL }}?utm_campaign=music.suka.yoga">{{.Name}}</a></h5>
                <p class="card-text"><em>{{.Artists}}</em></p>
            </div>
        </div>
        {{end}}
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
