<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js" integrity="sha512-+Aecf3QQcWkkA8IUdym4PDvIP/ikcKdp4NCDF8PM6qr9FtqwIFCS3JAcm2+GmPMZvnlsrGv1qavSnxL8v+o86w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h4 class="display-4">{{ .title }}</h4>

<div class="container">
    <div class="card-columns">
        {{ range .Data }}
        <div class="card">
            <canvas id="{{ .ID }}"></canvas>
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <p class="card-title"><a href="{{ .URL }}">{{.Name}}</a></p>
                        <p class="card-text"><em>{{.Artists}}</em></p>
                        <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                    </div>
                </div>

                <div class="col-auto">
                    <img class="card-img" src="{{ .Image }}" alt="{{ .Name }}">
                </div>
            </div>
            <script>
var chartColors = window.chartColors;
var color = Chart.helpers.color;
var ctx = document.getElementById('{{ .ID }}').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',
    // The data for our dataset
    data: {
        labels: ['Energy', 'Loudness', 'Tempo','Instrumentalness', 'Acousticness'],
        datasets: [
            {
                label: '{{ .Name }}',
                // backgroundColor: 'rgb(255, {{ .Loudness }}, {{ .Tempo }})',
                // borderColor: 'rgb({{ .Energy }}, {{ .Instrumentalness }}, {{ .Acousticness }} )',
                data: [ {{ .Energy}}, {{ .Loudness }}, {{ .Tempo }}, {{ .Instrumentalness }}, {{ .Acousticness }}],
                backgroundColor: [
                        color(chartColors.red).alpha(0.5).rgbString(),
                        color(chartColors.orange).alpha(0.5).rgbString(),
                        color(chartColors.yellow).alpha(0.5).rgbString(),
                        color(chartColors.green).alpha(0.5).rgbString(),
                        color(chartColors.blue).alpha(0.5).rgbString(),
                    ]
            }]
    },
    // Configuration options go here
    options: {
        legend: {
            display: false
        }
    }
});
            </script>
        </div>
        {{ end }}
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
