<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.27/moment-timezone-with-data-2012-2022.min.js" integrity="sha256-gfmyBrlUtChLivBA2rRK/bsljMoum6kxbl7oFeCVkmc=" crossorigin="anonymous"></script>
<h4 class="display-4">{{ .title }}</h4>
<div class="container">
    <a href="/chart?pl={{ .Playlist.ID }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Show tracks audio attributes</a>
</div>
{{ template "pageNav.html" .}}
<div class="container">
    <script>
async function onShare(name, id) {
    // Check if navigator.share is supported by the browser
    if (navigator.share) {
        console.log("Congrats! Your browser supports Web Share API")
        await navigator.share({
            title: name,
            text: "Hey, check out this song",
            url: "https://open.spotify.com/track/" + id,
        })
            .then(function () {
                console.log("Shareing successfull")
            })
            .catch(function () {
                console.log("Sharing failed")
            })
    } else {
        console.log("Sorry! Your browser does not support Web Share API")
    }
};

$( document ).ready(function() {
    let goT, gotime
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    {{range .Tracks }}
    gotime = {{ .PlayedAt }}
    userTime = moment(gotime).tz(tz).format('ddd HH:mm');  
    $('#{{ .ID }}').text(userTime);
    if (navigator.share) {
        document.querySelector("#share_{{ .ID}}").addEventListener('click', () => {
            onShare({{ .Name}}, {{ .ID }});
        });
    } else {
        $("#share_{{ .ID }}").removeClass("d-block").addClass("d-none");
    }
    {{end}}
});
    </script>

    {{range .Tracks }}
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <button id="share_{{ .ID }}" class="btn btn-outline-light btn-sm p-1 d-block"><img src="/static/share_button.svg" class="" width="12em" alt="Share" /></button>
                <div class="card-text">
                <mark id="{{.ID}}"></mark>&nbsp<a href="https://open.spotify.com/track/{{ .ID }}?utm_campaign=music.suka.yoga">{{.Name}}</a>&nbsp<em>{{.Artists}}</em>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{ template "pageNav.html" .}}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
