<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!-- <p> -->
<!--   {{with .Email}}You are currently logged in as {{.}}.{{end}} -->
<!--   {{with .Login}}<a href="{{.}}">Sign in</a>{{end}} -->
<!--   {{with .Logout}}<a href="{{.}}">Sign out</a>{{end}} -->
<!-- </p> -->
<h4 class="display-4">{{ .title }}</h4>
<div class="container">
<ul class="pagination justify-content-end">
    {{ with .Navigation }}
    <li class="page-item"><a class="page-link" href="/history?page={{ .Previous }}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/history?page={{ .Next }}">Next</a></li>
    {{ end }}
</ul>
</div>
<div class="container">
    {{range .Tracks }}
    <div class="card">
        <div class="card-body">
            <p class="card-text">[{{.PlayedAt.Format "15:04:05"}}] <a href="https://open.spotify.com/track/{{ .ID }}">{{.Name}}</a> <em>{{.Artists}}</em></p>
        </div>
    </div>
    {{end}}
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
