<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="jumbotron ">
    <a href="/user">
        <picture>
            <source srcset="/static/music.svg" type="image/svg+xml">
            <img src="/static/generic_album_cover.png" class="img-fluid rounded mx-auto d-block" alt="...">
        </picture>
    </a>
</div>
<!--Share button-->
{{ template "sharing.html" }}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
