<!--pageNavJS.html-->
<script src="https://unpkg.com/swipe-listener@latest/dist/swipe-listener.min.js" type="text/javascript"></script>
<script>
function addUrlParameter(name, value) {
    let searchParams = new URLSearchParams(window.location.search)
    searchParams.set(name, value)
    window.location.search = searchParams.toString()
}
let container = document.querySelector('.container');
let options = {
    minHorizontal: 25, // Minimum number of pixels traveled to count as a horizontal swipe.
    minVertical: 25, // Minimum number of pixels traveled to count as a vertical swipe.
    deltaHorizontal: 5, // Delta for horizontal swipe
    deltaVertical: 5, // Delta for vertical swipe
    preventScroll: false, // Prevents scrolling when swiping.
    lockAxis: true, // Select only one axis to be true instead of multiple.
    touch: true, // Listen for touch events
    mouse: false// Listen for mouse events
};
let listener = SwipeListener(container, options);
container.addEventListener('swipe', function (e) {
    let directions = e.detail.directions;

    {{ with .Navigation }}
    {{ if .Previous }}
    if (directions.left) {
        addUrlParameter('page', {{ .Previous }})
    }
    {{ end }}
    {{ if .Next }}
    if (directions.right) {
        addUrlParameter('page', {{ .Next }})
    }
    {{ end }}
    {{ else }}
    if (directions.left) {
        window.history.back();
    }
    if (directions.right) {
        window.history.forward();
    }
    {{ end }}

});
</script> 
