<!--paymentsuccess.html-->
<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="sr-root">
    <div class="sr-main">
        <header class="sr-header">
            <div class="sr-header__logo"></div>
        </header>
        <div class="sr-payment-summary completed-view">
            <h1>Your test payment succeeded!</h1>
            <h4>
                View CheckoutSession response:</a>
            </h4>
        </div>
        <div class="sr-section completed-view">
            <div class="sr-callout">
                <pre>

                </pre>
            </div>
        </div>  
        <button onclick="window.location.href = '/payment';">Pay once more</button>
    </div>
    <div class="sr-content">

    </div>
</div>
<script>
let urlParams = new URLSearchParams(window.location.search);
let sessionId = urlParams.get("session_id")
console.log(sessionId)
if (sessionId) {
    fetch("/checkout-session?sessionId=" + sessionId)
        .then((response) => {
        console.log(response.status);
        if (response.status >= 200 && response.status < 300) {
            return Promise.resolve(response)
        } else {
            return Promise.reject(new Error(response.statusText))
        } 
        }).then((response) => {
            return response.json()
        }).then((data) => {
            var sessionJSON = JSON.stringify(data, null, 2);
            document.querySelector("pre").textContent = sessionJSON;
        }).catch(function(err){
            console.log('Error when fetching Checkout session', err);
        });
}
</script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
