<!--paymentsuccess.html-->
<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="container">
    <h1 class="h1">Your test payment succeeded!</h1>
    <button class="btn btn-info" onclick="window.location.href = '/payment';">Pay once more</button>
    <div class="container-md">
        <h4 class="h4">
            View CheckoutSession response:</a>
        </h4>
        <pre>

        </pre>
    </div>
</div>
<script>
let urlParams = new URLSearchParams(window.location.search);
let sessionId = urlParams.get("session_id")
console.log(sessionId)
if (sessionId) {
    fetch("/checkout-session?sessionId=" + sessionId)
        .then((response) => {
            console.log(response.status);
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response)
            } else {
                return Promise.reject(new Error(response.statusText))
            } 
        }).then((response) => {
            return response.json()
        }).then((data) => {
            var sessionJSON = JSON.stringify(data, null, 2);
            document.querySelector("pre").textContent = sessionJSON;
        }).catch(function(err){
            console.log('Error when fetching Checkout session', err);
        });
}
</script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
