<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!-- TODO Move scripts to template -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ .Navigation.Back }}">Back</a></li>
    </ol>
</nav>

<h4 class="display-4">{{ .title }}</h4>
<div class="container">
<script>
function addUrlParameter(name, value) {
    let searchParams = new URLSearchParams(window.location.search)
    searchParams.set(name, value)
    window.location.search = searchParams.toString()
}
</script>
<nav aria-label="Page navigation">
    {{ with .Navigation }}
  <ul class="pagination justify-content-end">
      <li class="page-item {{ if not .Previous }}disabled{{ end}}">
        <a class="page-link" onclick="addUrlParameter('page', {{ .Previous }})" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{ if .Previous }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Previous }})">{{ .Previous }}</a></li>
    {{ end }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Current }})">{{ .Current }}</a></li>
    {{ if .Next }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Next }})">{{ .Next }}</a></li>
    <li class="page-item">
        <a class="page-link" onclick="addUrlParameter('page', {{ .Next}})" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {{ end }}
  </ul>
    {{ end }}
</nav>
</div>
<div class="container d-flex justify-content-end">
<a onclick="addUrlParameter('chart', 'radar.html')" class="btn btn-light btn-sm btn-lg active" role="button" aria-pressed="true">Radar</a>
</div>

<div class="container">
    <div class="card-columns">
        {{ range .Data }}
        <div class="card">
            <canvas id="{{ .ID }}"></canvas>
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <p class="card-title"><a href="{{ .URL }}?utm_campaign=music.suka.yoga">{{.Name}}</a></p>
                        <p class="card-text"><em>{{.Artists}}</em></p>
                        <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                    </div>
                </div>

                <div class="col-auto">
                    <img class="card-img" src="{{ .Image }}" alt="{{ .Name }}">
                </div>
            </div>
            <script>
var chartColors = window.chartColors;
var color = Chart.helpers.color;
var ctx = document.getElementById('{{ .ID }}').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'polarArea',
    // The data for our dataset
    data: {
        labels: ['Energy', 'Loudness', 'Tempo','Instrumentalness', 'Acousticness'],
        datasets: [
            {
                label: '{{ .Name }}',
                // backgroundColor: 'rgb(255, {{ .Loudness }}, {{ .Tempo }})',
                // borderColor: 'rgb({{ .Energy }}, {{ .Instrumentalness }}, {{ .Acousticness }} )',
                data: [ {{ .Energy}}, {{ .Loudness }}, {{ .Tempo }}, {{ .Instrumentalness }}, {{ .Acousticness }}],
                backgroundColor: [
                        color(chartColors.red).alpha(0.5).rgbString(),
                        color(chartColors.orange).alpha(0.5).rgbString(),
                        color(chartColors.yellow).alpha(0.5).rgbString(),
                        color(chartColors.green).alpha(0.5).rgbString(),
                        color(chartColors.blue).alpha(0.5).rgbString(),
                    ]
            }]
    },
    // Configuration options go here
    options: {
        legend: {
            display: false
        }
    }
});
            </script>
        </div>
        {{ end }}
    </div>
</div>
<div class="container">
<nav aria-label="Page navigation">
    {{ with .Navigation }}
  <ul class="pagination justify-content-end">
      <li class="page-item {{ if not .Previous }}disabled{{ end}}">
        <a class="page-link" onclick="addUrlParameter('page', {{ .Previous }})" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{ if .Previous }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Previous }})">{{ .Previous }}</a></li>
    {{ end }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Current }})">{{ .Current }}</a></li>
    {{ if .Next }}
    <li class="page-item"><a class="page-link" onclick="addUrlParameter('page', {{ .Next }})">{{ .Next }}</a></li>
    <li class="page-item">
        <a class="page-link" onclick="addUrlParameter('page', {{ .Next}})" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {{ end }}
  </ul>
    {{ end }}
</nav>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
