<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!-- TODO Move scripts to template -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ .Navigation.Back }}">Back</a></li>
    </ol>
</nav>

{{ template "pageNavJS.html" .}}
{{ template "pageNav.html" .}}

<h4 class="display-4">{{ .title }}</h4>

<div class="container d-flex justify-content-end">
<a onclick="addUrlParameter('chart', 'radar.html')" class="btn btn-light btn-sm btn-lg active" role="button" aria-pressed="true">Radar</a>
</div>

<div id="main" class="container">
    <div class="card-columns">
        {{ range .Data }}
        <div class="card">
            <canvas id="{{ .ID }}"></canvas>
            <div class="row no-gutters">
                <div class="col">
                    <div class="card-body">
                        <p class="card-title"><a href="{{ .URL }}?utm_campaign=music.suka.yoga">{{.Name}}</a></p>
                        <p class="card-text"><em>{{.Artists}}</em></p>
                        <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                    </div>
                </div>

                <div class="col-auto">
                    <img class="card-img" src="{{ .Image }}" alt="{{ .Name }}">
                </div>
            </div>
            <script>
var chartColors = window.chartColors;
var color = Chart.helpers.color;
var ctx = document.getElementById('{{ .ID }}').getContext('2d');
var chart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: ['Energy', 'Loudness', 'Tempo','Instrumentalness', 'Acousticness'],
        datasets: [
            {
                label: '{{ .Name }}',
                data: [ {{ .Energy}}, {{ .Loudness }}, {{ .Tempo }}, {{ .Instrumentalness }}, {{ .Acousticness }}],
                backgroundColor: [
                        color(chartColors.red).alpha(0.5).rgbString(),
                        color(chartColors.orange).alpha(0.5).rgbString(),
                        color(chartColors.yellow).alpha(0.5).rgbString(),
                        color(chartColors.green).alpha(0.5).rgbString(),
                        color(chartColors.blue).alpha(0.5).rgbString(),
                    ]
            }]
    },
    options: {
        legend: {
            display: false
        }
    }
});
            </script>
        </div>
        {{ end }}
    </div>
</div>

{{ template "pageNav.html" .}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
