<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/playlists">Playlists</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Playlist.Name }}</li>
    </ol>
</nav>

<div class="container mw-50">
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">{{ .Playlist.Name }}</h4>
            <p class="card-text">by {{.Playlist.Owner}} (<em>{{.Playlist.Tracks}} tracks</em>)</p>
        </div>
        <div class="embed-responsive embed-responsive-1by1">
            <a href="{{ .Playlist.URL }}?utm_campaign=music.suka.yoga">
                <img src="{{ .Playlist.Image }}" alt="{{ .Playlist.Name }}" class="card-img-top embed-responsive-item img-thumbnail">
            </a>
        </div>
        <a href="/chart?pl={{ .Playlist.ID }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Show tracks audio attributes</a>
    </div>
</div>

{{ template "pageNav.html" .}}
<div class="container">
    <div class="card-columns">
        {{range .Tracks }}
        <div class="card" style="max-width: 14rem;">
            <a href="{{ .URL }}?utm_campaign=music.suka.yoga">
                <img class="card-img" style="object-fit: cover;" src="{{ .Image}}" loading="lazy" alt="{{ .Name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ .URL }}?utm_campaign=music.suka.yoga">{{.Name}}</a></h5>
                <p class="card-text"><em>{{.Artists}}</em></p>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{ template "pageNav.html" .}}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
