<!--playlists.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<h4 class="display-4">{{ .title }}</h4>
{{ template "pageNavJS.html" .}}
{{ template "pageNav.html" .}}
<div class="container">
    <div class="card-columns">
        {{range .Playlists }}
        <div class="card">
            <a href="{{ .URL}}?utm_campaign=music.suka.yoga">
                <picture>
                    <source media="(min-width: 320px)" srcset="{{ .Image }}">
                    <img class="card-img-top" style="object-fit: cover;" src="/static/generic_album_cover.png" loading="lazy" alt="{{ .Name }}">
                </picture>
            </a>
            <div class="card-body"> 
                <h5 class="card-title"><a href="{{ .URL }}">{{.Name}}</a></h5>
                <p class="card-text">{{.Owner}}</em></p>
                <a href="/playlisttracks?pl={{ .ID }}" class="btn btn-outline-info">{{ .Tracks }} tracks</a>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{ template "pageNav.html" .}}
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
