<!--popular.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<h4 class="display-4">{{ .title }}</h4>
<div class="container">
    <div class="card-columns">
        {{range .Tracks }}
        <div class="card"> 
            <a href="{{ .URL }}?utm_campaign=music.suka.yoga">
                <img class="card-img-top" style="object-fit: cover;" src="{{ .Image }}" alt="{{ .Name }}">
            </a>
            <div class="card-body"> 
                <h3 class="card-title">{{ .Count }}</h3>
                <p class="card-text"><a href="{{ .URL }}?utm_campaign=music.suka.yoga">{{.Name}}</a></p>
                <p class="card-text"><em>{{.Artists}}</em></p>
            </div>
        </div>
        {{end}}
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
