<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!-- <p> -->
<!--   {{with .Email}}You are currently logged in as {{.}}.{{end}} -->
<!--   {{with .Login}}<a href="{{.}}">Sign in</a>{{end}} -->
<!--   {{with .Logout}}<a href="{{.}}">Sign out</a>{{end}} -->
<!-- </p> -->
<h4 class="display-4">{{ .title }}</h4>
<div class="container">
    <div class="embed-responsive"> 
        <div class="card-columns">
            {{range .Tracks }}
            <div class="card"> 
                <div class="card-header"> 
                    <h6>{{ .Count }}</h6>
                </div>
                <a href="{{ .URL }}">
                    <img class="card-img-top" style="object-fit: cover;" src="{{ .Image }}" alt="{{ .Name }}">
                </a>
                <div class="card-body"> 
                    <p class="card-text"><strong><a href="{{ .URL }}">{{ .Name }}</a></strong>
                    <em>{{.Artists}}</em></p>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
