<!--tracks.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!-- <p> -->
<!--   {{with .Email}}You are currently logged in as {{.}}.{{end}} -->
<!--   {{with .Login}}<a href="{{.}}">Sign in</a>{{end}} -->
<!--   {{with .Logout}}<a href="{{.}}">Sign out</a>{{end}} -->
<!-- </p> -->
<h4 class="display-4">{{ .title }}</h4>
<div class="container">
    <div class="card-columns">
        {{range .Tracks }}
            {{ template "item.html" .}}
        {{end}}
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
